<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<style>
		body {
			font-family: sans-serif;
		}

		.monospace {
			font-family: monospace;
		}
	</style>
</head>
<body>
	<p>
		Hello, I'm one of the graphics in your bundle!
		I'm where you put the graphics you want to run in your broadcast software!
	</p>

	<p>To edit me, open "<span id="path" class="monospace"></span>" in your favorite text editor or IDE.</p>

	<p>You can use any libraries, frameworks, and tools you want. There are no limits.</p>

	<p>Visit <a href="https://nodecg.com" target="_blank" rel="noopener">https://nodecg.com</a> for full documentation.</p>

	<p>Have fun!</p>

	<script>
		document.getElementById('path').textContent = `nodecg${window.location.pathname}`;

		// You can access the NodeCG api anytime from the `window.nodecg` object
		// Or just `nodecg` for short. Like this!:
		nodecg.log.info('Here\'s an example of using NodeCG\'s logging API!');
	</script>
</body>
</html>
