node_modules
coverage

# JetBrains IDEs (IntelliJ/WebStorm)
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/copyright/profiles_settings.xml
/.idea/workspace.xml
/.idea/shelf/
/.idea/codeStyles/codeStyleConfig.xml
