sudo: false
language: node_js
node_js:
  - v4
  - stable

after_success: npm run coveralls

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8c1769bff63cbd033bf7
    on_success: always
    on_failure: always
    on_start: never
